*{
    margin: 0;
}
.inter{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main{
    width: 1400px;
    margin: 0 auto;
}
.navbar-container{
    background-color: #1C1E53;
}
.navbar{
    color: white;
    width: 1200px;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.navbar-link{
    display: flex;
    gap: 50px;
    align-items: center;
}
.navbar-link div a{
    text-decoration: none;
    color: white;
}
.navbar-contact{
    background-color: transparent;
    color: white;
    border: 3px solid rgba(244, 246, 252, 0.2);
    padding: 16px 40px;
    border-radius: 41px;
}

/* design-solve-container */
.design-solve-container{
    display: flex;
    padding-top: 150px;
    padding-bottom: 70px;
    gap: 140px;
    width: 1200px;
    margin: 0 auto;    
}
.design-title{
    font-size: 60px;
    padding-top: 20px
}
.design-details{
    color: #74759a;
    width: 90%;
    padding-top: 20px;
}
.goal-container{
    background-color:rgba(244, 245, 245, 1) ;
    padding: 80px 100px 80px 80px;
}
.goal{
    display: flex;
    gap: 60px;
    padding-top: 15px;
}
.man-pic{
    width: 1400px;
}

 /* Our process start */
.process{
    padding-top: 120px;
    text-align: center;
}
.process-all{
    display: flex;
    text-align: left;
    padding-top: 50px;
}
.process-one > h4{
    padding: 15px 0;
}

 /* Our process end */