

.inter{
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;

}

.main-1 {
    width: 1400px;
    margin: 0 auto;
}

.main-2 {
    background-color: #1C1E53;
}

header {
    margin: 0 auto;
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 120px;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 48px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.contact {
    padding: 14px 28px;
    background-color: transparent;
    color: white;
    border-radius: 18px;
    border: 1px solid white;
}

.banner {
    padding-bottom: 100px;
}


.banner_details {
    color: rgb(143, 156, 175);
    padding-bottom: 40px;
}

.banner {
    display: flex;
    gap: 70px;
}

.banner-text {
    color: white;
}

.banner-text h1 {
    font-size: 54px;
    padding-bottom: 50px;
}

.btn-option {
    display: flex;
    align-items: center;
    padding-top: 45px;
    gap: 20px;
}

.btn-1 {
    background-color: #FCD980;
    padding: 16px 50px;
    border-radius: 40px;
}

.btn-2 {
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding-top: 16px;
}

.btn-text {
    color: white;
}

.btn-img {
    width: 20px;
    color: white;
    filter: invert(100%);
    
}

.how-work-container {
    background-color: #F4F6FC;
}

.how-work {
    display: flex;
    gap: 140px;
    padding: 120px 0px;
    margin: 0 auto;
    width: 1200px;
}

.work-more {
    display: flex;
    align-items: center;
    gap: 15px;
}

.work-more p {
    color: #2405F2;
    font-weight: 500;
}

.work-more img {
    width: 50px;
}

.strategy-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.strategy-1 img {
    padding-bottom: 15px;
}
.our-project-container {
    padding-top: 90px;
    margin: 0 auto;
    width: 1200px;
}
.project-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.project-text h2 {
    font-size: 48px;
}

.btn-img-2 {
    width: 30px;

}

.project-details {
    color: black;
    font-size: 18px;
}

.project-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-title {
    padding-bottom: 70px;
}
.project-all-img{
    display: flex;
    
}
.project-imgOne {
    position: absolute;
    overflow: hidden;
}

.project-imgTwo {
    position: relative;
}

.project-overflow-container {
    position: relative;
    bottom: 280px;
    left: 50px; 
}
.project-img-1-1 {
    width: 843px;
    height: 600px;
}


.project-overflow-text {
    font-size: 20px;
    padding-bottom: 70px;
    width: 25%;
    color: white;
    font-weight: 500;
}

.btn-img-3 {
    width: 30px;
}

.project-details-2 {
    color: white;
}
.project-img-2{
    display: flex;
    position: static;
    overflow: hidden;
}

/* Problem container start */
.problem-container {
    padding: 100px 0px;
    text-align: center;
    background-color: #F4F6FC;
    
}
.problem-container-2{
    margin: 0 auto;
    width: 1200px;
}
.problem-title{
    font-size: 40px;
}
.feature{
    padding-bottom: 12px;
}
.problem-title{
    padding-bottom: 45px;
}
.problem-sub-container{
    display: grid;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.problem-sub-1{
    padding: 48px;
    background-color: white;
    
}
.problem-sub-title{
    padding: 15px 0px;
}
.problem-sub-details{
    color: rgb(112, 112, 112) ;
}

.client-container{
    background-color: #F9FBFD;
}
.client-container-2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    gap: 100px;
    padding: 100px 0px;
}
.client-says{
    width: 40%;
}
.client-title{
    font-size: 30px;
}
.client-sub-title{
    padding-top: 16px;
    color: gray;
}
.client-says-2{
    width: 60%;
}
.client-quote{
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;

}
.client-profile{
    display: flex;
    gap: 10px;
    align-items: center;
}
.client-img{
    border-radius: 50%;
}
.client-name{
    padding-bottom: 6px;
}
.blog-container{
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 70px;
}
.blog-title{
    padding: 40px 0;
}
.blog-sub-container{
    display: flex;
    gap: 20px;

}
.blog-data{
    color: gray;
    padding: 20px 0px;
}
.blog-details{
    color: rgb(95, 94, 94);
    padding: 20px 0px ;
}
.blog-more{
    display: flex;
    align-items: center;
    gap: 15px;
}
.blog-icon{
    width: 30px;
}
.footer{
    background-color:#1C1E53 ;
}
.footer-sub-container{
    width: 1200px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}
.footer-text{
    display: flex;
    gap: 100px;
    padding-top: 60px;
}
.footer-company-details{
    width: 60%;
    padding-bottom: 80px;
}
.contacts{
    display: flex;
    padding: 16px 130px 16px 20px;
    background-color: #FCD980;
    color: black;
    gap: 50px;
}

.social-icon{
    padding-right: 25px;
    padding-top: 110px;
}
.copyright{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.copyright-home{
    display: flex;
    gap: 60px;
}